

<div class="row mt-6">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">

           <!-- // <img src="https://cdn2.vectorstock.com/i/1000x1000/97/56/prince-lettering-phrase-with-crown-on-white-vector-26649756.jpg" alt="logo"> -->
            <p>Creat an account or login.</p>
            

            <a style="text-decoration: none;" href="/user/register"><button type="button" class="btn btn-danger btn-block mb-2">Register</button></a>

            <a style="text-decoration: none;" href="/user/login"><button type="button" class="btn btn-primary btn-block ">Login</button></a>


        </div>
    </div>
</div>