<div class="row mt-6">
	<div class="col-md-6 m-auto">
		<div class="card card-body">
			<h1 class="text-centre mb-3">
				<i class="fa fa-sign-in"> Login</i>
			</h1>
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="email">E-mail:</label>
					<input
						type="email"
						name="email"
						id="email"
						placeholder="Enter E-mail"
						class="form-control"
          />
          
          <label for="password">Password:</label>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Enter password"
						class="form-control"
          />
          
          <label for="password">Confirm password:</label>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Confirm password"
						class="form-control"
					/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
</div>
